* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    }

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 100px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f5f5dc;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    border-top: 0.4px solid black;
    background-color: beige;
    color: black;
    padding-bottom: 25px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
}
    
.conteudo-principal-escrito-titulo {
    font-size: 64px;
}

.conteudo-principal-escrito-subtitulo {
    font-size: 24px;
}

.conteudo-principal-escrito-botao {
    background: linear-gradient(180deg, #FE0000 16.66%,
		#FD8C00 16.66%, 33.32%,
		#FFE500 33.32%, 49.98%,
		#119F0B 49.98%, 66.64%,
		#0644B3 66.64%, 83.3%,
		#C22EDC 83.3%);
    color: black;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    transition: 0.3 ease;
    cursor: pointer;
    font-size: 140%;

    
}

/* .conteudo-principal-escrito-botao :hover{
    background: black;
} */

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid black;
    padding-top: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
    font-size: 24px;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
    font-size: 18px;
    margin-bottom: 25px;
}



/* NOSSA HISTÓRIA */

.nossa-historia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px 8%;
    background-color: #050d0d;
    color: beige;
    margin: 50px;
    border-radius: 30px;
}


.nossa-historia-imagem {
    width: 70%;

}

.nossa-historia-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
    text-align: right;
    padding-left: 20%;
}

.nossa-historia-escrito h3 {
    font-size: 48px;
}

.nossa-historia-escrito p {
    font-size: 1em;
    letter-spacing: 2px;

}



/* CONTATO E LOCALIZAÇÃO */

.contato-e-localizacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px 8%;
    background-color: beige;
    color: black;
    margin: 50px;
    border-radius: 30px;
}

.contato {
    padding-right: 10% ;
    border-right: 0.4px solid black;
}

.contato-titulo {
    font-size: 44px;
}

.contato-itens {
    font-size: 20px;
}










.rodape {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
/*     background: linear-gradient(180deg, #FE0000 16.66%,
    #FD8C00 16.66%, 33.32%,
    #FFE500 33.32%, 49.98%,
    #119F0B 49.98%, 66.64%,
    #0644B3 66.64%, 83.3%,
    #C22EDC 83.3%); */
}

.rodape-titulo {
    height: 95px;
    display: block;
    margin: 0 auto;  
    padding: 10px;
    margin-top: 7px; 
}

.rodape-agradecimento{
    padding: 6px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
    background-color: black;
    color: beige;
    margin-top: 20px;
    text-align: center;
    border-top: 0.4px solid beige;
  
}